<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>User Profile - Chat App</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Trang này sẽ được phát triển bởi thành viên khác.</p>
</body>
</html>
